.header-container{
  display: grid;
  height: 11vh;
  width: calc(100vw - 10em);
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em;
}

.button-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16em;
}

.button-section button{
  font-size: 8px;
  font-weight: bolder;
  border: none;
  padding: 0.7em 2em;
  color: rgb(83, 83, 83);
  border-radius: 2px;
  background-color: rgb(227, 227, 227);
  cursor: pointer;
}

.button-section .adminBtn{
  background: linear-gradient(rgb(21, 120, 250), rgb(21, 120, 250),rgb(5, 178, 252));
  color: white;
}

.logoutbtn{
  font-size: 8px;
  font-weight: bolder;
  border: none;
  padding: 0.7em 2em;
  border-radius: 3px;
  background-color:rgb(224, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.logoutbtn i{
  font-size: larger;
}

.logout-section{
  display: flex;
  width: 6em;
  justify-content: space-between;
}

.userimage{
  width: 1.2em;
}